
/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
}

.error-message {
  color: red;
  font-size: 0.8rem !important;
  margin-top: 0;
}